<!--top navigation bar-->

<nav id="topNav" class="navbar navbar-default ">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand"></a>
    </div>

    <!--Signup bar-->

    <div id="signupBar" class="navbar-collapse navbar-right">
      <ul class="nav navbar-nav">
        <li><a href="#">Sign up</a></li>
        <li><a href="#">Sign in</a></li>
      </ul>
    </div>

    <!--Top navigation links-->

    <div class="collapse navbar-collapse navbar-right">
      <ul id="navList" class="nav navbar-nav">
        <li><a href="#">Home</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Contacts</a></li>
        <li><a href="#">Terms</a></li>
        <!--<li><a href="#"></a></li>-->
      </ul>
    </div>
     </div>
</nav>
