<!--top navigation bar-->

<nav id="topNav" class="navbar navbar-default ">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand"></a>
    </div>


    <!--Signup bar-->

  <div id="signupBar" class="navbar-collapse navbar-right">
    <!--<div class="row">-->
    <!--<div class="col-lg-9 col-xs-8 col-sm-12 ">-->
    <ul class="nav navbar-nav">
      <li><a><img src="../../assets/images/user-add-with-circular-button%20(2).png" class="img-responsive"></a></li>
        <li><a href="#" id="signUp">Sign up</a></li>
      <li ><a href ="#"><img src="">Signup</a></li>

      </ul>
    </div>
    <!--</div>-->
    <!--</div>-->

    <!--Top navigation links-->

    <div class="navbar-collapse navbar-right">
      <ul id="navList" class="nav navbar-nav">
        <li><a href="#" (click)="onSelect('home')">Home</a></li>
        <li><a href="#" (click)="onSelect('about-us')">About us</a></li>
        <li><a href="#" (click)="onSelect('terms')">Terms</a></li>
        <li><a href="#" (click)="onSelect('contacts')">Contacts</a></li>
        <!--&lt;!&ndash;<li><a href="#"></a></li>&ndash;&gt;-->
      </ul>
    </div>
     </div>
</nav>
