
<div class="about_main container">

  <img src="../../assets/images/about-us.jpg" class="img-responsive" id="about_img">

  <div id="discription_outer">

    <div id="discription">

      <h2>WHO ARE WE</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet cumque eligendi mollitia obcaecati officiis pariatur provident. Dignissimos enim nobis possimus provident quidem sed. Aspernatur autem excepturi officia quasi sit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aliquid beatae eaque error exercitationem fugit harum, magni nemo nihil nobis omnis quas quasi quidem quos saepe, sapiente, suscipit ullam voluptas. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, cupiditate deleniti dolorum impedit laborum nisi voluptas. Ab aliquam amet aperiam, assumenda, delectus eius laborum, magnam maxime nam quas tempora veniam? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores exercitationem laboriosam quam. Inventore ipsum maxime nisi nulla porro? Beatae deleniti, deserunt doloribus harum in inventore itaque quia sapiente tempora tenetur?</p>

      <div id="more_info">

          <a href="#" data-toggle="modal" data-target="#myModal">Read More</a>

      </div>

    </div>

  </div>

</div>
