<div id="service_main">
  <!--<div id="fac_header">-->
    <!--<h2>OUR SERVICES</h2>-->
  <!--</div>-->
  <img src="../../assets/images/b3.jpg" alt="" class="img-responsive" id="service_img">



  <div id="doctor" class="embose">

    <span class="doc_icon">
      <i class="fa fa-user-md fa-4x icon" aria-hidden="true"></i>
    </span>
    <div class="doc_disc">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>

    <div class= "more_info">
      <a href="#" data-toggle="modal" data-target="#myModal">Read More</a>
    </div>

  </div>

  <div id="adroid" class="embose">

    <span class="doc_icon">
      <i class="fa fa-id-badge fa-4x icon" aria-hidden="true"></i>
    </span>
    <div class="doc_disc ">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>

    <div class= "more_info">
      <a href="#" data-toggle="modal" data-target="#myModal">Read More</a>
    </div>

  </div>

  <div id="hours" class="embose">
    <span class="doc_icon"><i class="fa fa-hospital-o fa-4x icon" aria-hidden="true"></i></span>

    <div class="doc_disc">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>

    <div class= "more_info">
      <a href="#" data-toggle="modal" data-target="#myModal">Read More</a>
    </div>

  </div>

  <div>
    <span></span>
  </div>
</div>
