<!--top navigation bar-->

<nav id="topNav" class="navbar navbar-default ">
  <div class="container-fluid">
    <div class="navbar-header">
      <h1><a class="navbar-brand "id="logo" href="#">Medi Turns</a></h1>
    </div>

    <!--Top navigation links-->

    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">

        <!--Hidden li included to remove active class from about link when scrolled up past about section -->
        <li class="hidden"><a class="page-scroll" href="#page-top"></a> </li>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Facilities</a></li>
        <li><a href="#">Terms</a></li>
        <li><a href="#">Clients</a></li>
        <li><a href="#">Contact</a></li>

      </ul>
    </div>

  </div>
</nav>
