
<div id="title">
  <label for="header"><img src="../../assets/images/clipboards.png" alt="" id="termslogo"></label>
  <h2 id="header">Terms and Conditions</h2>

  <div id="termsImg">
    <img src="../../assets/images/terms-logo.png">
  </div>

  <div>
    <ul class="listStyle">
      <li><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi commodi consectetur cumque delectus doloribus error expedita id in iste iure laudantium necessitatibus, nisi officiis porro quae, quia, repellendus veritatis voluptatem? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda culpa ea illum modi similique? Aliquam enim, fuga fugiat molestiae necessitatibus officiis, quae quaerat quibusdam quos unde vel voluptates. Dicta, recusandae?</p></li>
      <li><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi commodi consectetur cumque delectus doloribus error expedita id in iste iure laudantium necessitatibus, nisi officiis porro quae, quia, repellendus veritatis voluptatem? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, amet asperiores consequuntur, cupiditate dolorem et eum excepturi ipsam iure necessitatibus obcaecati provident quae quaerat quasi reiciendis tenetur voluptas. Aliquam, repellendus.</p></li>
      <li><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi commodi consectetur cumque delectus doloribus error expedita id in iste iure laudantium necessitatibus, nisi officiis porro quae, quia, repellendus veritatis voluptatem? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid animi blanditiis cupiditate eos, facilis hic illum iste magni nesciunt nostrum officia omnis porro quae quod repellendus voluptates. Doloremque, illo?</p></li>

    </ul>
  </div>

  <div id="welcomeStatus">

    <p>We are delighted to welcome you to the Acumen team.</p>

  </div>

</div>

