<div class="home">

  <!--Insert image-->
<img id="homeImage" src="../../assets/images/Medical-Wallpapers-3.jpg" alt="" class="img-responsive">

<!--Status-->

<div id="homeDisc">

  <h3>Keep your</h3>
  <h2>Family More Healthy </h2>

 <div id="disc">
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consectetur dolores eaque illum, ipsam voluptates! Architecto aut consectetur error nisi. Accusamus eius eveniet id officia optio quam quidem repudiandae sint! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, dignissimos dolore eius et ipsam obcaecati quidem quod sit totam veniam. Architecto dignissimos, dolor eum exercitationem magni molestiae molestias quisquam rem?</p>
 </div>
</div>

</div>
